

.client__list {
	margin: 0;
	@include centeredFlex();
}
.client__item {
	@include centeredFlex();
    &:not(:last-child) {
        margin-right: var(--card-set-gap);
    }
}

.client__link {
	@include centeredFlex();

	background-color: transparent;
	outline: transparent;
	border-radius: 4px;
	width: 170px;
	height: 92px;
	border: 1px solid var(--icon-color);
	border-radius: 4px;
	cursor: pointer;
	color: var(--icon-color);
	transition: color var(--time-duration) var(--timing-function), border var(--time-duration) var(--timing-function);
    &:hover,
    &:focus {
        color: var(--accent-color);
        border: 1px solid var(--accent-color);
    }

}

.client__icon {
	fill: currentColor;
}